.comingSoon{
    display: block;
    text-align: center;
    padding: 1.5vw 0;
    font-weight: 400;
    letter-spacing: 0.2rem;
    font-family: var(--secondary-font);
    color: var(--main-text-color);
    text-decoration: none;
    font-size: 2rem;
}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
 .comingSoon{
    padding: 3vw 0;
    font-size: 2.5rem;
 }
}
 
/* MOBILE STYLES */
@media only screen and (max-width: 649px){
    .comingSoon{
        padding: 6vw 0;
     }
}
