footer{
    padding: 2vw 4vw 4vw 4vw;
    background-color: var(--main-color);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

footer aside{
    margin: 0 4vw;
}

#footerSocials{
    display: inline-flex;
    flex-direction: column;
    margin: 0 6vw 0 2vw;
}
    #footerSocials a{
       text-decoration: none;
       height: 4.5vw;
       aspect-ratio: 1/1;
       margin: 0.5vw 0;
    }
    #footerSocials a img{
        width: 100%;
        height: 100%;
        text-decoration: none;

     }
     #footerSocials a:nth-child(1) img,  #footerSocials a:nth-child(2) img{
        width: 115%;
        height: 115%;
        margin-top: -7.5%;
        margin-left: -7.5%;
     }

.footer-links-title{
    min-width: 12vw;
    color: var(--secondary-text-color);
    font-family: var(--secondary-font);
    font-size: 3rem;
    font-weight: 300;
    padding-bottom: 0.5vw;
    text-align: center;
    border-bottom: 3px solid var(--main-text-color);
}

.footer-links a{
    padding-left: 10%;
    display: block;
    margin: 0.4vw 0;
    color: var(--main-text-color);
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 300;
}

.footer-links a:hover{
    filter: brightness(50%);
}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    #footerSocials a{
        height: 8vw;
        margin: 1vw 0;
     }
     .footer-links a{
        margin: 0.8vw 0;
    }
}
 
/* MOBILE STYLES */
@media only screen and (max-width: 649px){
    footer{
        padding: 4vw 8vw 8vw 8vw;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    footer aside{
        margin: 5vw 0;
    }
    
    #footerSocials{
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
        #footerSocials a{
           height: 15vw;
           margin: 0 0;
        }
        #footerSocials a{
            margin: 0 2vw;
        }
    
    .footer-links-title{
        min-width: 40vw;
        font-size: 4rem;
        padding-bottom: 1vw;
        border-bottom: 2px solid var(--main-text-color);
    }
    
    .footer-links a{
        margin: 1.5vw 0;
        font-size: 1.4rem;
        padding-left: 0;
        text-align: center;
    }
    
}
